<div class="modal fade" id="needUpdateCurrencyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Currency is out of date!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Currency can be updated!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="updateBtn" data-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>