@model ProductStoreApp.ViewModels.CurrencyCreateViewModel

@{
    ViewData["Title"] = "Create";
}


<h4>Add new Currency</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Currency" asp-action="Create">
            <div class="form-group">
                <div class="col-md">
                    <select class="form-control" asp-for="Code" value="@Model.?Code" required>
                        @foreach (var currency in @ViewBag.Currencies) {
                            <option value="@currency.Code">@currency.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
